:root {
  --primary-color: #ff9854;

  /* 搜索框左边图片的按钮颜色值 */
  --van-search-left-icon-color: var(--primary-color) !important;
}

/* 为了在二级页面隐藏tabBar */
.topPage {
  position: relative;
  z-index: 9;
  height: 100vh;
  overflow-y: auto;
  background: #fff;
}